/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 20 version
*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@mixin b_gradient_text($angle) {
    background-color: $title_color;
    background-image: -webkit-gradient(linear, left top, left bottom, from($angle), color-stop(8%, #b16cea), color-stop(40%, #ff5e69), color-stop(77%, #ff8a56), color-stop(91%, #ffa84b));
    background-image: -o-linear-gradient($angle, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-image: linear-gradient($angle, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
}

@mixin b_gradient($angle) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($angle), color-stop(8%, #b16cea), color-stop(40%, #ff5e69), color-stop(77%, #ff8a56), color-stop(91%, #ffa84b));
    background-image: -o-linear-gradient($angle, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-image: linear-gradient($angle, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}

$title_color: #000000;
$secondary_text_color: #666666;
$pure_white: #ffff;
$main_font: 'Plus Jakarta Sans', sans-serif;
$head_title_size: 75;
$button_size: 'padding: 20px 30px';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main_font;
    background-color: $pure_white;
    position: relative;
    overflow-x: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.white-curtain {
    position: absolute;
    top: -24px;
    background: white;
    width: 100vw;
    height: calc(1.5rem + 53px);
    z-index: -1;
}

header {

    .onload-animation {
        width: 100vw;
        height: 100vh;
        background: $pure_white;
        position: absolute;
        z-index: 1;
        top: -24px;

        .logo-container {
            font-weight: 800;
            font-size: 2rem;
            color: $title_color;
            overflow: hidden;

            span {
                @include b_gradient_text(34deg);
            }

            .logo {
                -webkit-transform-origin: left center;
                -ms-transform-origin: left center;
                transform-origin: left center;
                -webkit-animation-name: slide-up;
                animation-name: slide-up;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
            }

            position: fixed;
        }

        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .navigation {
        background: black;

        .row {
            background-color: $pure_white;

            .logo {
                cursor: pointer;

                img {
                    width: 215px;
                }
            }

            .menu-icon-container {
                cursor: pointer;
            }
        }
    }

    .mobile-nav {
        position: absolute;
        width: 100vw;
        height: 325px;
        left: 0;
        z-index: -2;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        .anchors {
            background: $pure_white;
            position: relative;
            height: 100%;
            -webkit-box-pack: space-evenly;
            -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            -webkit-box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, .15) !important;
            box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, .15) !important;

            span {
                margin-right: 1rem;
            }

            a {
                all: unset;
                font-weight: 700;
                color: $title_color;
                width: 50%;
                cursor: pointer;

                &:not(.call):hover {
                    color: $secondary_text_color;
                }

                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
            }

            .call {
                .arrow-black {
                    -webkit-transition-property: -webkit-transform;
                    transition-property: -webkit-transform;
                    -o-transition-property: transform;
                    transition-property: transform;
                    transition-property: transform, -webkit-transform;
                    -webkit-transition-duration: .3s;
                    -o-transition-duration: .3s;
                    transition-duration: .3s;
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                }

                &:hover {
                    img {
                        -webkit-transform: translateX(200%);
                        -ms-transform: translateX(200%);
                        transform: translateX(200%);
                    }
                }
            }
        }

        -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        transform: translateY(-110%);
    }

    .curtain_down {
        -webkit-animation-name: curtain_down;
        animation-name: curtain_down;
    }

    .curtain_up {
        -webkit-animation-name: curtain_up !important;
        animation-name: curtain_up !important;
    }
}

main {
    position: relative;

    >.head {

        .p {
            .head-p {
                color: $secondary_text_color;
            }
        }

        .title {

            .gradient-title,
            .black-title {
                height: -moz-fit-content;
                height: -webkit-fit-content;
                height: fit-content;
                width: -moz-fit-content;
                width: -webkit-fit-content;
                width: fit-content;
                line-height: 110%;
                font-size: 3.125rem;
                letter-spacing: -2px;
            }
        }

        .p {
            .head-p {
                line-height: 150%;
                font-weight: 500;
            }
        }

        .cv-form {

            .cv {
                font-weight: 900;
                cursor: pointer;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;

                p {
                    margin-right: 0.8rem;
                }

                .img {
                    img {
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        -webkit-transition-property: -webkit-transform;
                        transition-property: -webkit-transform;
                        -o-transition-property: transform;
                        transition-property: transform;
                        transition-property: transform, -webkit-transform;
                        -webkit-transition-duration: .3s;
                        -o-transition-duration: .3s;
                        transition-duration: .3s;
                    }
                }

                &:hover {
                    img {
                        -webkit-transform: translateX(100%);
                        -ms-transform: translateX(100%);
                        transform: translateX(100%);
                    }
                }
            }
        }

        .btns {
            >div {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }

            .buttons {
                position: relative;
                height: 66px;

                .b_b {
                    padding: 21px 32.9px;
                }
            }
        }

        .my-img {
            .myimg {
                position: relative;

                img {
                    z-index: inherit;
                }

                z-index: 0;
            }
        }
    }

    >.services {

        display: -webkit-box;

        display: -webkit-flex;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 3rem;

        >.title {
            text-align: center;

            .gradient-title {
                @include b_gradient_text(to right);
            }

            .black-title {
                font-weight: 800;
                line-height: 120%;
                letter-spacing: 0.5px;
            }
        }

        .values {
            >.row {}

            .titles {}

            .img {
                position: relative;

                img {
                    border-radius: 50%;
                }
            }

            h2 {
                font-weight: 700;
                color: $title_color;
                line-height: 110%;
            }

            p {
                font-weight: 500;
                color: $secondary_text_color;
                margin-bottom: 0;
            }

            ul {
                color: $title_color;
                font-weight: 700;
                padding-left: 1.7rem;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: start;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding-right: 0;

                li {
                    -webkit-flex-shrink: 1;
                    -ms-flex-negative: 1;
                    flex-shrink: 1;
                    word-break: break-word;
                    text-align: left;
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    line-height: 28px;
                }
            }
        }

        .benefits {
            .img {
                img {
                    border-right: 4px #ff5e69 solid;
                }
            }
        }

        .skills {
            .img {
                img {
                    border-right: 4px #ff8a56 solid;
                }
            }
        }

        .expectations {
            .img {
                img {
                    border-right: 4px #ffa84b solid;
                }
            }
        }
    }

    .projects-head {
        .row {}

        >.title {
            text-align: left;

            .gradient-title {
                -webkit-align-self: flex-end;
                -ms-flex-item-align: end;
                align-self: flex-end;
                font-size: 1.375rem;
            }

            .black-title {
                width: 100%;
            }
        }

        .btns {
            position: relative;

            .b_b {
                padding: 21px 31px;
            }
        }

        .move-left {
            left: -100%;
        }

        .move-right {
            left: 100%;
        }
    }

    .projects {
        overflow-x: hidden;
        background-color: $title_color;
        position: relative;

        .projects-links {
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            position: relative;

            .pro-panel {
                cursor: pointer;

                .img {
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        -webkit-transition: .5s;
                        -o-transition: .5s;
                        transition: .5s;
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                    }
                }

                .details {
                    width: 100%;
                    background-color: $pure_white;
                    position: relative;

                    .gradient-title {
                        -webkit-align-self: flex-end;
                        -ms-flex-item-align: end;
                        align-self: flex-end;
                    }

                    .black-title {
                        color: $title_color;
                        line-height: 110%;
                        font-weight: 700;
                    }

                    .to-pro {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        position: relative;
                        -webkit-box-pack: start;
                        -webkit-justify-content: flex-start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                        cursor: pointer;

                        p {
                            text-align: center;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            margin-bottom: 0 !important;
                            font-weight: 400;
                        }

                        .arrow {

                            img {
                                -webkit-transform-style: preserve-3d;
                                transform-style: preserve-3d;
                                -webkit-transition-property: -webkit-transform;
                                transition-property: -webkit-transform;
                                -o-transition-property: transform;
                                transition-property: transform;
                                transition-property: transform, -webkit-transform;
                                -webkit-transition-duration: .3s;
                                -o-transition-duration: .3s;
                                transition-duration: .3s;
                            }
                        }

                        &:hover {
                            .arrow {
                                img {
                                    -webkit-transform: translateX(100%);
                                    -ms-transform: translateX(100%);
                                    transform: translateX(100%);
                                }
                            }
                        }
                    }

                }

                &:hover {
                    .img {
                        img {
                            -webkit-transform: scale3d(1.1, 1.1, 1.1);
                            transform: scale3d(1.1, 1.1, 1.1);
                        }
                    }

                    .black-title,
                    p {
                        color: $secondary_text_color;
                    }
                }

                -webkit-transition: transform 500ms ease 0s;
                -o-transition: transform 500ms ease 0s;
                -webkit-transition: -webkit-transform 500ms ease 0s;
                transition: -webkit-transform 500ms ease 0s;
                transition: transform 500ms ease 0s;
                transition: transform 500ms ease 0s,
                -webkit-transform 500ms ease 0s;
                position: relative;
            }

            -webkit-transition: transform .5s ease 0s;
            -o-transition: transform .5s ease 0s;
            -webkit-transition: -webkit-transform .5s ease 0s;
            transition: -webkit-transform .5s ease 0s;
            transition: transform .5s ease 0s;
            transition: transform .5s ease 0s,
            -webkit-transform .5s ease 0s;
        }

        .indicators {
            background-color: $title_color;
            width: 100vw;
            position: relative;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;

            .img {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                justify-content: flex-end;

                img {}
            }
        }

        &::before {
            content: '';
            background-color: $pure_white;
            width: 100%;
            height: 234px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .black-title {
        color: $title_color;
    }

    button {
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
        padding: 20px 30px;
        color: $pure_white;
        background-color: $title_color;
        border: none;
        font-size: 1rem;
        font-weight: 500;
        position: absolute;
        -webkit-transition-property: transform;
        -o-transition-property: transform;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;

        &:hover {
            -webkit-transform: translate(7px, 7px);
            -ms-transform: translate(7px, 7px);
            transform: translate(7px, 7px);
        }
    }

    .b_b {
        @include b_gradient(to right);
        z-index: -1;
        transform: translate(7px, 7px);
        -webkit-transform: translate(7px, 7px);
        -moz-transform: translate(7px, 7px);
        -ms-transform: translate(7px, 7px);
        -o-transform: translate(7px, 7px);
    }

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    .testimonials {
        background-color: $title_color;
        color: $pure_white;

        .title {

            .white-title {
                font-weight: 800;
            }
        }

        .feedbacks {
            blockquote {
                font-weight: 700;
                line-height: 130%;

                .quote {
                    display: block;
                }
            }

            .name-indicators {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;

                .name {
                    h5 {
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: 0px;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }

                .indicators {
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;

                    img {
                        width: 50%;
                    }
                }
            }
        }
    }

    .education {

        .title {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;

            .img {
                display: inline-block;

                img {}
            }

            h1 {
                margin-bottom: 0;
                font-weight: 700;
                line-height: 100%;
            }
        }

        .certificates {
            >div {
                margin-bottom: 1rem;
            }

            .edu {
                --animation-name: ;
                display: -ms-grid;
                display: grid;
                -ms-grid-rows: (auto)[3];
                grid-template-rows: repeat(3, auto);
                grid-template-areas:
                    'icon-left title icon-right'
                    'icon-left desc-p .'
                    'ul ul .';
                margin-top: 1rem;
                position: relative;
                cursor: pointer;

                h3 {
                    -ms-grid-row: 1;
                    -ms-grid-column: 2;
                    grid-area: title;
                    margin-bottom: 1rem;
                }

                .icon-left {
                    -ms-grid-row: 1;
                    -ms-grid-row-span: 2;
                    -ms-grid-column: 1;
                    grid-area: icon-left;
                    width: 100%;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: start;
                    -webkit-justify-content: flex-start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;

                    img {
                        width: 66%;
                    }
                }

                .plus-img {
                    -ms-grid-row: 1;
                    -ms-grid-column: 3;
                    width: 100%;
                    justify-self: flex-end;
                    -webkit-animation-duration: 500ms;
                    animation-duration: 500ms;
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
                    grid-area: icon-right;
                    cursor: pointer;
                }

                .ul {
                    -ms-grid-row: 3;
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 2;
                    grid-area: ul;
                    -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;

                    li {
                        margin-bottom: 1rem;
                    }

                    max-height: 0px;
                    overflow-y: hidden;
                    margin-top: 2rem;
                    padding-left: 1rem;
                    margin-left: -1rem;
                }

                .duration {
                    grid-area: duration;
                }

                >p {
                    -ms-grid-row: 2;
                    -ms-grid-column: 2;
                    grid-area: desc-p;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 91%;
                    height: 1px;
                    top: 100%;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                &::before {
                    background-color: $title_color;
                    -webkit-animation-name: var(--animation-name);
                    animation-name: var(--animation-name);
                    -webkit-animation-duration: .5s;
                    animation-duration: .5s;
                    -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
                }

                &::after {
                    background-color: $secondary_text_color;
                    opacity: .2;
                }

                p,
                span {
                    color: $secondary_text_color;
                    font-weight: 700;
                    margin-bottom: 0;
                    line-height: 130%;
                }

                .ul.active-inc {
                    -webkit-animation-name: heightInc;
                    animation-name: heightInc;
                    -webkit-animation-duration: 4s;
                    animation-duration: 4s;
                }

                .ul.active-dec {
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-name: heightDec;
                    animation-name: heightDec;
                }

                .plus-img.active-for {
                    -webkit-animation-name: rotate_for;
                    animation-name: rotate_for;
                }

                .plus-img.active-bac {
                    -webkit-animation-name: rotate_bac;
                    animation-name: rotate_bac;
                }

                h5 {
                    font-weight: 400;
                }

                a {
                    color: #ff5e69;
                }
            }

            .formal-edu,
            .cs50 {
                .ul {
                    -webkit-transition: max-height .7s ease;
                    -o-transition: max-height .7s ease;
                    transition: max-height .7s ease;
                }
            }

            .o-i {
                .ul {
                    -webkit-transition: max-height 1s ease;
                    -o-transition: max-height 1s ease;
                    transition: max-height 1s ease;

                    .rest-skills {

                        .skills-name,
                        .links {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-flex-wrap: wrap;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                        }

                        a,
                        span {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .about-me {
        display: -ms-grid;
        display: grid;
        grid-template-areas: 'head''collection-img';

        .head {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            grid-area: head;

            >div,
            >p {
                padding-left: 0;
                padding-right: 0;
            }

            .black-title {}

            .desc {
                color: $secondary_text_color;
                font-weight: 400;
            }
        }

        .collection-img {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            grid-area: collection-img;
            width: 100%;
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 100%;
            grid-template-columns: 100%;
            -ms-grid-rows: 1fr .25fr 1fr;
            grid-template-rows: 1fr .25fr 1fr;
            grid-template-areas:
                'head_img'
                'mid_img'
                'foot_img';

            >div {
                img {
                    -o-object-fit: contain;
                    object-fit: contain;
                }
            }

            .head-img {
                -ms-grid-row: 1;
                -ms-grid-column: 1;
                grid-area: head_img;

                .work-home {
                    width: 100%;
                }
            }

            .mid-img {
                -ms-grid-row: 2;
                -ms-grid-column: 1;
                grid-area: mid_img;
                display: -ms-grid;
                display: grid;
                -ms-grid-rows: 100%;
                grid-template-rows: 100%;
                grid-template-areas: 'deal onlab';
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0;

                .mid {
                    width: 100%;
                }

                .deal {
                    -ms-grid-row: 1;
                    -ms-grid-column: 1;
                    grid-area: deal;
                }

                .onlab {
                    -ms-grid-row: 1;
                    -ms-grid-column: 2;
                    grid-area: onlab;
                }
            }

            .foot-img {
                -ms-grid-row: 3;
                -ms-grid-column: 1;
                grid-area: foot_img;

                .hold-phone {
                    width: 100%;
                }
            }

            .head-img,
            .foot-img {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .gradient-title:not(.gradient-title.top-title) {
        text-transform: uppercase;
    }
}

footer {
    background: $title_color;
    color: $pure_white;
    font-size: 3rem;
    position: relative;

    >.contact {
        padding: 1rem 1.75rem;

        >div:not(:last-child) {}

        .title {

            .white-title {
                line-height: 110%;
                font-weight: 700;
                letter-spacing: 1px;
            }

            .gradient-title {
                --animation-name: ;
                line-height: 110%;
                letter-spacing: 0.5px;
                background-image: -o-linear-gradient(280deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
                background-image: linear-gradient(170deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
                cursor: pointer;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 5px;
                    @include b_gradient(170deg);
                    top: 110%;
                    left: 12px;
                    -webkit-transform: translateY(-110%);
                    -ms-transform: translateY(-110%);
                    transform: translateY(-110%);
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
                    -webkit-animation-name: var(--animation-name);
                    animation-name: var(--animation-name);
                    border-radius: 6px;
                }

            }
        }

        .address {

            .logo {

                img {
                    cursor: pointer;
                    display: inline-block;
                }
            }

            p {
                color: $secondary_text_color
            }

            .email {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-back: start;
                -webkit-justify-content: flex-start;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-align-items: center;
                -ms-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .img {
                    margin-right: 0.4rem;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-items: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: 30px;
                    height: 21px;

                    img {
                        width: 30px;
                        height: 21px;
                        -o-object-fit: contain;
                        object-fit: contain;
                    }
                }

                p {
                    font-weight: 700;
                    cursor: pointer;
                    line-height: 36px;
                    margin-bottom: 0;
                    padding-bottom: .3rem;

                }
            }
        }

        .social {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            .button {
                background: transparent;
                width: 50%;

                a {
                    --animation-name: ;
                    color: $pure_white;
                    text-align: left;
                    border: none;
                    text-decoration: none;
                    font-weight: 400;
                    line-height: 100%;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 110%;
                        left: 0;
                        height: 1px;
                        width: 0%;
                        background-color: $pure_white;
                        -webkit-transform: translateY(-110%);
                        -ms-transform: translateY(-110%);
                        transform: translateY(-110%);
                        -webkit-animation-name: var(--animation-name);
                        animation-name: var(--animation-name);
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-timing-function: ease;
                        animation-timing-function: ease;
                        -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }

        .rights {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;

            p {
                color: $secondary_text_color;
                margin-bottom: 0;
                line-height: 140%;
                font-weight: 400;

                .me {
                    font-weight: 700;

                    a {
                        color: #b16cea;
                    }
                }

                .att {
                    a {
                        color: #ff5e69;
                    }
                }
            }
        }
    }

    .copyPanel {
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
        position: absolute;
        top: 40%;
        left: 50%;

        p {
            margin-bottom: 0;
            padding: 0.9em;
            background: $pure_white;
            color: $title_color;
            font-weight: 700;
        }

        -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
        opacity: 0;
        -webkit-animation-duration: 600ms;
        animation-duration: 600ms;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
    }

    .copy-anime {
        -webkit-animation-name: copied;
        animation-name: copied;
    }
}

.gradient-title {
    @include b_gradient_text(108deg);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.gradient-title {
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    display: inline-block;
}

.black-title {
    color: $title_color;
    font-weight: 800;
}

.click {
    border: 1px dashed transparent !important;
}

.clicked {
    border-color: #ff5e69 !important;
}

@-webkit-keyframes slide-up {
    0% {
        -webkit-transform: translateY(90%) rotate(13deg);
        -ms-transform: translateY(90%) rotate(13deg);
        transform: translateY(90%) rotate(13deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}

@keyframes slide-up {
    0% {
        -webkit-transform: translateY(90%) rotate(13deg);
        -ms-transform: translateY(90%) rotate(13deg);
        transform: translateY(90%) rotate(13deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}

@-webkit-keyframes rotate_for {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes rotate_for {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@-webkit-keyframes rotate_bac {
    0% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes rotate_bac {
    0% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes copied {
    0% {
        opacity: 0.2;
        -webkit-transform: translate(-50%, -200%);
        -ms-transform: translate(-50%, -200%);
        transform: translate(-50%, -200%);
    }

    25% {
        opacity: 0.6;
        -webkit-transform: translate(-50%, -225%);
        -ms-transform: translate(-50%, -225%);
        transform: translate(-50%, -225%);
    }

    50% {
        opacity: 1;
        -webkit-transform: translate(-50%, -250%);
        -ms-transform: translate(-50%, -250%);
        transform: translate(-50%, -250%);
    }

    75% {
        opacity: 0.6;
        -webkit-transform: translate(-50%, -275%);
        -ms-transform: translate(-50%, -275%);
        transform: translate(-50%, -275%);
    }

    100% {
        opacity: 0.2;
        -webkit-transform: translate(-50%, -300%);
        -ms-transform: translate(-50%, -300%);
        transform: translate(-50%, -300%);
    }
}

@keyframes copied {
    0% {
        opacity: 0.2;
        -webkit-transform: translate(-50%, -200%);
        -ms-transform: translate(-50%, -200%);
        transform: translate(-50%, -200%);
    }

    25% {
        opacity: 0.6;
        -webkit-transform: translate(-50%, -225%);
        -ms-transform: translate(-50%, -225%);
        transform: translate(-50%, -225%);
    }

    50% {
        opacity: 1;
        -webkit-transform: translate(-50%, -250%);
        -ms-transform: translate(-50%, -250%);
        transform: translate(-50%, -250%);
    }

    75% {
        opacity: 0.6;
        -webkit-transform: translate(-50%, -275%);
        -ms-transform: translate(-50%, -275%);
        transform: translate(-50%, -275%);
    }

    100% {
        opacity: 0.2;
        -webkit-transform: translate(-50%, -300%);
        -ms-transform: translate(-50%, -300%);
        transform: translate(-50%, -300%);
    }
}

@-webkit-keyframes curtain_down {
    0% {
        -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        transform: translateY(-110%);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes curtain_down {
    0% {
        -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        transform: translateY(-110%);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-webkit-keyframes curtain_up {
    0% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        transform: translateY(-110%);
    }
}

@keyframes curtain_up {
    0% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        transform: translateY(-110%);
    }
}

@-webkit-keyframes fillLine {
    0% {
        width: 0;
    }

    100% {
        width: 91%;
    }
}

@keyframes fillLine {
    0% {
        width: 0;
    }

    100% {
        width: 91%;
    }
}

@-webkit-keyframes emptyLine {
    0% {
        width: 91%;
    }

    100% {
        width: 0;
    }
}

@keyframes emptyLine {
    0% {
        width: 91%;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes heightInc {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 292vh;
    }
}

@keyframes heightInc {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 292vh;
    }
}

@-webkit-keyframes heightDec {
    0% {
        max-height: 292vh;
    }

    100% {
        max-height: 0;
    }
}

@keyframes heightDec {
    0% {
        max-height: 292vh;
    }

    100% {
        max-height: 0;
    }
}

@-webkit-keyframes stretchLineFor {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes stretchLineFor {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes stretchLineBac {
    0% {
        width: 90%;
    }

    100% {
        width: 0%;
    }
}

@keyframes stretchLineBac {
    0% {
        width: 90%;
    }

    100% {
        width: 0%;
    }
}

@-webkit-keyframes stretchALineFor {
    0% {
        width: 0;
    }

    100% {
        width: 110%;
    }
}

@keyframes stretchALineFor {
    0% {
        width: 0;
    }

    100% {
        width: 110%;
    }
}

@-webkit-keyframes stretchALineBac {
    0% {
        width: 110%;
    }

    100% {
        width: 0%;
    }
}

@keyframes stretchALineBac {
    0% {
        width: 110%;
    }

    100% {
        width: 0%;
    }
}
