/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 20 version
*/

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
  position: relative;
  overflow-x: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.white-curtain {
  position: absolute;
  top: -24px;
  background: white;
  width: 100vw;
  height: calc(1.5rem + 53px);
  z-index: -1;
}

header .onload-animation {
  width: 100vw;
  height: 100vh;
  background: white;
  position: absolute;
  z-index: 1;
  top: -24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .onload-animation .logo-container {
  font-weight: 800;
  font-size: 2rem;
  color: #000000;
  overflow: hidden;
  position: fixed;
}
header .onload-animation .logo-container span {
  background-color: #000000;
  background-image: -o-linear-gradient(56deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-image: linear-gradient(34deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}
header .onload-animation .logo-container .logo {
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
header .navigation {
  background: black;
}
header .navigation .row {
  background-color: white;
}
header .navigation .row .logo {
  cursor: pointer;
}
header .navigation .row .logo img {
  width: 215px;
}
header .navigation .row .menu-icon-container {
  cursor: pointer;
}
header .mobile-nav {
  position: absolute;
  width: 100vw;
  height: 325px;
  left: 0;
  z-index: -2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-110%);
      -ms-transform: translateY(-110%);
          transform: translateY(-110%);
}
header .mobile-nav .anchors {
  background: white;
  position: relative;
  height: 100%;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15) !important;
}
header .mobile-nav .anchors span {
  margin-right: 1rem;
}
header .mobile-nav .anchors a {
  all: unset;
  font-weight: 700;
  color: #000000;
  width: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .mobile-nav .anchors a:not(.call):hover {
  color: #666666;
}
header .mobile-nav .anchors .call .arrow-black {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
header .mobile-nav .anchors .call:hover img {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}
header .curtain_down {
  -webkit-animation-name: curtain_down;
          animation-name: curtain_down;
}
header .curtain_up {
  -webkit-animation-name: curtain_up !important;
          animation-name: curtain_up !important;
}

main {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
main > .head .p .head-p {
  color: #666666;
}
main > .head .title .gradient-title,
main > .head .title .black-title {
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  line-height: 110%;
  font-size: 3.125rem;
  letter-spacing: -2px;
}
main > .head .p .head-p {
  line-height: 150%;
  font-weight: 500;
}
main > .head .cv-form .cv {
  font-weight: 900;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main > .head .cv-form .cv p {
  margin-right: 0.8rem;
}
main > .head .cv-form .cv .img img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
main > .head .cv-form .cv:hover img {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
main > .head .btns > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
main > .head .btns .buttons {
  position: relative;
  height: 66px;
}
main > .head .btns .buttons .b_b {
  padding: 21px 32.9px;
}
main > .head .my-img .myimg {
  position: relative;
  z-index: 0;
}
main > .head .my-img .myimg img {
  z-index: inherit;
}
main > .services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}
main > .services > .title {
  text-align: center;
}
main > .services > .title .gradient-title {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(8%, #b16cea), color-stop(40%, #ff5e69), color-stop(77%, #ff8a56), color-stop(91%, #ffa84b));
  background-image: -o-linear-gradient(left, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-image: linear-gradient(to right, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}
main > .services > .title .black-title {
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.5px;
}
main > .services .values .img {
  position: relative;
}
main > .services .values .img img {
  border-radius: 50%;
}
main > .services .values h2 {
  font-weight: 700;
  color: #000000;
  line-height: 110%;
}
main > .services .values p {
  font-weight: 500;
  color: #666666;
  margin-bottom: 0;
}
main > .services .values ul {
  color: #000000;
  font-weight: 700;
  padding-left: 1.7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-right: 0;
}
main > .services .values ul li {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  word-break: break-word;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 28px;
}
main > .services .benefits .img img {
  border-right: 4px #ff5e69 solid;
}
main > .services .skills .img img {
  border-right: 4px #ff8a56 solid;
}
main > .services .expectations .img img {
  border-right: 4px #ffa84b solid;
}
main .projects-head > .title {
  text-align: left;
}
main .projects-head > .title .gradient-title {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  font-size: 1.375rem;
}
main .projects-head > .title .black-title {
  width: 100%;
}
main .projects-head .btns {
  position: relative;
}
main .projects-head .btns .b_b {
  padding: 21px 31px;
}
main .projects-head .move-left {
  left: -100%;
}
main .projects-head .move-right {
  left: 100%;
}
main .projects {
  overflow-x: hidden;
  background-color: #000000;
  position: relative;
}
main .projects .projects-links {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
main .projects .projects-links .pro-panel {
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease 0s;
  transition: -webkit-transform 500ms ease 0s;
  -o-transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
  position: relative;
}
main .projects .projects-links .pro-panel .img {
  width: 100%;
  overflow: hidden;
}
main .projects .projects-links .pro-panel .img img {
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
main .projects .projects-links .pro-panel .details {
  width: 100%;
  background-color: white;
  position: relative;
}
main .projects .projects-links .pro-panel .details .gradient-title {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
main .projects .projects-links .pro-panel .details .black-title {
  color: #000000;
  line-height: 110%;
  font-weight: 700;
}
main .projects .projects-links .pro-panel .details .to-pro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}
main .projects .projects-links .pro-panel .details .to-pro p {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0 !important;
  font-weight: 400;
}
main .projects .projects-links .pro-panel .details .to-pro .arrow img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
main .projects .projects-links .pro-panel .details .to-pro:hover .arrow img {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
main .projects .projects-links .pro-panel:hover .img img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}
main .projects .projects-links .pro-panel:hover .black-title,
main .projects .projects-links .pro-panel:hover p {
  color: #666666;
}
main .projects .indicators {
  background-color: #000000;
  width: 100vw;
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .projects .indicators .img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .projects::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 234px;
  position: absolute;
  top: 0;
  left: 0;
}
main .black-title {
  color: #000000;
}
main button {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 20px 30px;
  color: white;
  background-color: #000000;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
main button:hover {
  -webkit-transform: translate(7px, 7px);
      -ms-transform: translate(7px, 7px);
          transform: translate(7px, 7px);
}
main .b_b {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(8%, #b16cea), color-stop(40%, #ff5e69), color-stop(77%, #ff8a56), color-stop(91%, #ffa84b));
  background-image: -o-linear-gradient(left, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-image: linear-gradient(to right, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  z-index: -1;
  transform: translate(7px, 7px);
  -webkit-transform: translate(7px, 7px);
  -moz-transform: translate(7px, 7px);
  -ms-transform: translate(7px, 7px);
  -o-transform: translate(7px, 7px);
}
main .testimonials {
  background-color: #000000;
  color: white;
}
main .testimonials .title .white-title {
  font-weight: 800;
}
main .testimonials .feedbacks blockquote {
  font-weight: 700;
  line-height: 130%;
}
main .testimonials .feedbacks blockquote .quote {
  display: block;
}
main .testimonials .feedbacks .name-indicators {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .testimonials .feedbacks .name-indicators .name h5 {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
}
main .testimonials .feedbacks .name-indicators .name p {
  font-size: 0.875rem;
}
main .testimonials .feedbacks .name-indicators .indicators {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
main .testimonials .feedbacks .name-indicators .indicators img {
  width: 50%;
}
main .education .title {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
main .education .title .img {
  display: inline-block;
}
main .education .title h1 {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 100%;
}
main .education .certificates > div {
  margin-bottom: 1rem;
}
main .education .certificates .edu {
  --animation-name: ;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
      grid-template-areas: "icon-left title icon-right" "icon-left desc-p ." "ul ul .";
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}
main .education .certificates .edu h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  margin-bottom: 1rem;
}
main .education .certificates .edu .icon-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon-left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
main .education .certificates .edu .icon-left img {
  width: 66%;
}
main .education .certificates .edu .plus-img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  width: 100%;
  justify-self: flex-end;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  grid-area: icon-right;
  cursor: pointer;
}
main .education .certificates .edu .ul {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ul;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  max-height: 0px;
  overflow-y: hidden;
  margin-top: 2rem;
  padding-left: 1rem;
  margin-left: -1rem;
}
main .education .certificates .edu .ul li {
  margin-bottom: 1rem;
}
main .education .certificates .edu .duration {
  grid-area: duration;
}
main .education .certificates .edu > p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc-p;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .education .certificates .edu::before, main .education .certificates .edu::after {
  content: "";
  position: absolute;
  width: 91%;
  height: 1px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .education .certificates .edu::before {
  background-color: #000000;
  -webkit-animation-name: var(--animation-name);
          animation-name: var(--animation-name);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .education .certificates .edu::after {
  background-color: #666666;
  opacity: 0.2;
}
main .education .certificates .edu p,
main .education .certificates .edu span {
  color: #666666;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 130%;
}
main .education .certificates .edu .ul.active-inc {
  -webkit-animation-name: heightInc;
          animation-name: heightInc;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
main .education .certificates .edu .ul.active-dec {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: heightDec;
          animation-name: heightDec;
}
main .education .certificates .edu .plus-img.active-for {
  -webkit-animation-name: rotate_for;
          animation-name: rotate_for;
}
main .education .certificates .edu .plus-img.active-bac {
  -webkit-animation-name: rotate_bac;
          animation-name: rotate_bac;
}
main .education .certificates .edu h5 {
  font-weight: 400;
}
main .education .certificates .edu a {
  color: #ff5e69;
}
main .education .certificates .formal-edu .ul,
main .education .certificates .cs50 .ul {
  -webkit-transition: max-height 0.7s ease;
  -o-transition: max-height 0.7s ease;
  transition: max-height 0.7s ease;
}
main .education .certificates .o-i .ul {
  -webkit-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease;
}
main .education .certificates .o-i .ul .rest-skills .skills-name,
main .education .certificates .o-i .ul .rest-skills .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
main .education .certificates .o-i .ul .rest-skills a,
main .education .certificates .o-i .ul .rest-skills span {
  width: 50%;
}
main .about-me {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head" "collection-img";
}
main .about-me .head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}
main .about-me .head > div,
main .about-me .head > p {
  padding-left: 0;
  padding-right: 0;
}
main .about-me .head .desc {
  color: #666666;
  font-weight: 400;
}
main .about-me .collection-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: collection-img;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 1fr 0.25fr 1fr;
  grid-template-rows: 1fr 0.25fr 1fr;
      grid-template-areas: "head_img" "mid_img" "foot_img";
}
main .about-me .collection-img > div img {
  -o-object-fit: contain;
     object-fit: contain;
}
main .about-me .collection-img .head-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head_img;
}
main .about-me .collection-img .head-img .work-home {
  width: 100%;
}
main .about-me .collection-img .mid-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mid_img;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
      grid-template-areas: "deal onlab";
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
main .about-me .collection-img .mid-img .mid {
  width: 100%;
}
main .about-me .collection-img .mid-img .deal {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: deal;
}
main .about-me .collection-img .mid-img .onlab {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: onlab;
}
main .about-me .collection-img .foot-img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foot_img;
}
main .about-me .collection-img .foot-img .hold-phone {
  width: 100%;
}
main .about-me .collection-img .head-img,
main .about-me .collection-img .foot-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}
main .gradient-title:not(.gradient-title.top-title) {
  text-transform: uppercase;
}

footer {
  background: #000000;
  color: white;
  font-size: 3rem;
  position: relative;
}
footer > .contact {
  padding: 1rem 1.75rem;
}
footer > .contact .title .white-title {
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 1px;
}
footer > .contact .title .gradient-title {
  --animation-name: ;
  line-height: 110%;
  letter-spacing: 0.5px;
  background-image: -o-linear-gradient(280deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
  background-image: linear-gradient(170deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
  cursor: pointer;
  position: relative;
}
footer > .contact .title .gradient-title:after {
  position: absolute;
  content: "";
  width: 0;
  height: 5px;
  background-image: -o-linear-gradient(280deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-image: linear-gradient(170deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  top: 110%;
  left: 12px;
  -webkit-transform: translateY(-110%);
      -ms-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: var(--animation-name);
          animation-name: var(--animation-name);
  border-radius: 6px;
}
footer > .contact .address .logo img {
  cursor: pointer;
  display: inline-block;
}
footer > .contact .address p {
  color: #666666;
}
footer > .contact .address .email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-back: start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer > .contact .address .email .img {
  margin-right: 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-items: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 21px;
}
footer > .contact .address .email .img img {
  width: 30px;
  height: 21px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer > .contact .address .email p {
  font-weight: 700;
  cursor: pointer;
  line-height: 36px;
  margin-bottom: 0;
  padding-bottom: 0.3rem;
}
footer > .contact .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer > .contact .social .button {
  background: transparent;
  width: 50%;
}
footer > .contact .social .button a {
  --animation-name: ;
  color: white;
  text-align: left;
  border: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 100%;
  position: relative;
}
footer > .contact .social .button a:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transform: translateY(-110%);
      -ms-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-animation-name: var(--animation-name);
          animation-name: var(--animation-name);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
footer > .contact .rights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer > .contact .rights p {
  color: #666666;
  margin-bottom: 0;
  line-height: 140%;
  font-weight: 400;
}
footer > .contact .rights p .me {
  font-weight: 700;
}
footer > .contact .rights p .me a {
  color: #b16cea;
}
footer > .contact .rights p .att a {
  color: #ff5e69;
}
footer .copyPanel {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  opacity: 0;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
footer .copyPanel p {
  margin-bottom: 0;
  padding: 0.9em;
  background: white;
  color: #000000;
  font-weight: 700;
}
footer .copy-anime {
  -webkit-animation-name: copied;
          animation-name: copied;
}

.gradient-title {
  background-color: #000000;
  background-image: -o-linear-gradient(342deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gradient-title {
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 4px;
  display: inline-block;
}

.black-title {
  color: #000000;
  font-weight: 800;
}

.click {
  border: 1px dashed transparent !important;
}

.clicked {
  border-color: #ff5e69 !important;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(90%) rotate(13deg);
            transform: translateY(90%) rotate(13deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(90%) rotate(13deg);
            transform: translateY(90%) rotate(13deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes rotate_for {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate_for {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate_bac {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate_bac {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes copied {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
  25% {
    opacity: 0.6;
    -webkit-transform: translate(-50%, -225%);
            transform: translate(-50%, -225%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -250%);
            transform: translate(-50%, -250%);
  }
  75% {
    opacity: 0.6;
    -webkit-transform: translate(-50%, -275%);
            transform: translate(-50%, -275%);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(-50%, -300%);
            transform: translate(-50%, -300%);
  }
}
@keyframes copied {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
  25% {
    opacity: 0.6;
    -webkit-transform: translate(-50%, -225%);
            transform: translate(-50%, -225%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -250%);
            transform: translate(-50%, -250%);
  }
  75% {
    opacity: 0.6;
    -webkit-transform: translate(-50%, -275%);
            transform: translate(-50%, -275%);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(-50%, -300%);
            transform: translate(-50%, -300%);
  }
}
@-webkit-keyframes curtain_down {
  0% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes curtain_down {
  0% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes curtain_up {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}
@keyframes curtain_up {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}
@-webkit-keyframes fillLine {
  0% {
    width: 0;
  }
  100% {
    width: 91%;
  }
}
@keyframes fillLine {
  0% {
    width: 0;
  }
  100% {
    width: 91%;
  }
}
@-webkit-keyframes emptyLine {
  0% {
    width: 91%;
  }
  100% {
    width: 0;
  }
}
@keyframes emptyLine {
  0% {
    width: 91%;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes heightInc {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 292vh;
  }
}
@keyframes heightInc {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 292vh;
  }
}
@-webkit-keyframes heightDec {
  0% {
    max-height: 292vh;
  }
  100% {
    max-height: 0;
  }
}
@keyframes heightDec {
  0% {
    max-height: 292vh;
  }
  100% {
    max-height: 0;
  }
}
@-webkit-keyframes stretchLineFor {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes stretchLineFor {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes stretchLineBac {
  0% {
    width: 90%;
  }
  100% {
    width: 0%;
  }
}
@keyframes stretchLineBac {
  0% {
    width: 90%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes stretchALineFor {
  0% {
    width: 0;
  }
  100% {
    width: 110%;
  }
}
@keyframes stretchALineFor {
  0% {
    width: 0;
  }
  100% {
    width: 110%;
  }
}
@-webkit-keyframes stretchALineBac {
  0% {
    width: 110%;
  }
  100% {
    width: 0%;
  }
}
@keyframes stretchALineBac {
  0% {
    width: 110%;
  }
  100% {
    width: 0%;
  }
}
