@use './tablet-aspects' as *;
$title_color: #000000;
$secondary_text_color: #666666;
$pure_white: #ffff;
$main_font: 'Plus Jakarta Sans', sans-serif;
$head_title_size: 75;
$button_size: 'padding: 20px 30px';

@media (#{$surface-dou}) {
    header {
        .navigation {
            .row {
                padding-left: .75rem;
            }
        }

        .mobile-nav {
            .anchors {
                padding-left: 3rem;
            }
        }
    }

    main {
        >.head {
            padding-left: 1.75rem;

            .head-title {}

            .my-img {
                .myimg {
                    img {
                        width: 47%;
                    }
                }
            }
        }

        .services {
            padding-left: 1.75rem;
        }

        .testimonials {
            .feedbacks {
                padding-left: 1rem;
            }
        }

        .about-me {
            margin-bottom: 7rem;

            .collection-img {
                justify-content: flex-start;
                grid-template-columns: 100%;
                --gap: 2.5vh;
            }
        }
    }

    footer {
        .contact {
            .title {
                .white-title {
                    font-size: 0.9em;
                }

                .gradient-title {
                    font-size: 0.8em
                }
            }

            .address {
                height: 23%;

                .logo {
                    img {
                        width: 254px;
                    }
                }

                .physical-address {
                    >p {
                        font-size: .5em;
                    }
                }

                .email {
                    img {
                        width: 35px
                    }

                    p {
                        font-size: .4em;
                    }
                }
            }

            .social {
                height: 45%;
            }
        }
    }
}

@media (#{$responsive-tablet}) {
    header {
        >.container {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }

        .mobile-nav {
            .anchors {
                padding-left: 2.35rem;
            }
        }
    }

    main {
        >.container {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }

        >.head {
            .btns {
                >div {
                    flex-direction: row;

                    .cv-form {
                        .cv {
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .my-img {
                .myimg {
                    img {
                        width: 40%;
                    }
                }
            }
        }

        .projects-head {
            padding-left: 2.75rem;
        }

        .projects {
            .projects-links {
                .pro-panel {
                    .details {
                        .to-pro {
                            width: 50%;
                        }
                    }
                }
            }
        }

        .about-me {
            grid-template-rows: 340px 1fr;
            margin-bottom: 9rem;

            .head {
                padding-left: 1.75rem;
                padding-right: 1.75rem;

                .desc {
                    font-size: 1.2rem;
                }
            }

            .collection-img {
                padding-left: 1.75rem;
                grid-template-columns: 94%;
                --gap: 1.5vh;
            }
        }
    }

    footer {
        .contact {
            .title {
                height: 21%;
            }

            .address {
                height: 20%;
            }

            .social {
                height: 36%;
            }
        }
    }
}

@media (#{$galaxy-tab-s4}) {
    header {
        .navigation {
            .row {
                padding-left: 1.75rem;
            }
        }
    }

    main {
        >.head {

            .btns {
                >div {
                    .cv-form {
                        .cv {
                            justify-content: flex-start;
                        }
                    }
                }
            }

            .my-img {
                .myimg {
                    img {
                        width: 30%;
                    }
                }
            }
        }

        .projects-head {
            display: flex;

            >.title {
                font-size: 2.5rem;
                width: 70%;
            }

            .btns {
                width: 30%;
                margin: 6rem 0 7rem;

                .buttons {
                    height: 66px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .projects {
            .indicators {
                .img {
                    width: 108px;
                }
            }
        }

        .testimonials {
            .feedbacks {
                .name-indicators {
                    .indicators {
                        width: 108px;
                    }
                }
            }
        }

        .education {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    footer {
        >.contact {
            padding: 3rem 1.75rem;

            .title {
                .white-title {
                    font-size: 1.1em;
                }

                .gradient-title {
                    font-size: 1em;
                }
            }

            .address {
                .logo {
                    width: 290px;
                }

                .physical-address {
                    >p {
                        font-size: .6em;
                    }
                }

                .email {
                    img {
                        width: 40px
                    }

                    p {
                        font-size: .5em;
                    }
                }
            }

            .social {
                button {
                    font-size: .6em;
                }
            }

            .rights {
                p {
                    font-size: .6em;
                }
            }
        }
    }
}

@media (#{$surface-dou-flipped}) {
    header {
        .navigation {
            .row {
                padding-left: 1.75rem;
            }
        }
    }

    main {
        >.head {
            margin-left: 0;
            margin-right: 0;

            .head-title {
                .black-title {
                    font-size: 3.125rem
                }
            }
        }

    }
}

@media (#{$ipad-mini}) {
    header {
        .navigation {
            .row {
                padding-left: 1.75rem;
                padding-right: 1.75rem;
            }
        }
    }

    main {
        >.head {
            .p {
                .head-p {
                    font-size: 1.2875rem;
                }
            }

            .btns {
                .cv-form {
                    padding-left: 0;

                    .cv {
                        justify-content: flex-start;
                    }
                }
            }

            .my-img {
                margin-top: 3rem;

                .myimg {
                    img {
                        width: 45%;
                    }
                }
            }
        }

        .projects {
            .projects-links {
                margin-bottom: 2rem;

                .pro-panel {
                    .details {
                        .black-title {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .testimonials {
            >.title {

                .white-title {
                    font-size: 3.125rem;
                }
            }

            .feedbacks {
                .name-indicators {
                    .name {
                        h5 {
                            font-size: 1.55rem
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .education {
            .title {
                h1 {
                    font-size: 2.25rem;
                }
            }

            .certificates {
                .edu {
                    h3 {
                        font-size: 1.5rem;
                    }
                }

                .edu:last-child {

                    &::before,
                    &::after {
                        height: 1px;
                    }
                }
            }
        }

        .about-me {
            >.head {
                .black-title {
                    font-size: 3.375rem;
                }
            }

            .collection-img {
                grid-template-columns: 100%;
                --gap: 1.5vh;
                justify-content: center;

                >.col-md-10 {
                    justify-self: center;
                }
            }
        }
    }
}

@media (#{$nexus-10}) {
    main {
        .projects-head {
            >.title {
                font-size: 3.125rem;
            }
        }

        .projects {
            .projects-links {
                margin-bottom: 0;
            }
        }

        .education {
            .certificates {
                .edu:first-child {

                    &::before,
                    &::after {
                        height: 1px;
                    }
                }
            }
        }
    }
}

@media (#{$responsive-tablet-flipped}) {
    header {
        .navigation {
            .row {
                padding-left: 3.75rem;
                padding-right: 5rem;
            }
        }
    }

    main {

        >.head {
            margin-left: 7rem;
            margin-left: 7rem;

            .head-title {
                .title {

                    .black-title,
                    .gradient-title {
                        font-size: 4.25rem;
                        line-height: 110%;
                    }

                    .black-title {
                        padding-right: 8.2rem;
                    }
                }
            }

            .p {
                .head-p {
                    font-size: 1.375rem;
                    font-weight: 500;
                }
            }

            .btns {

                .cv-form {
                    margin: 1.4rem 0rem 3rem;

                    .cv {
                        p {
                            font-size: 1.4rem;
                        }

                        .img {
                            display: flex;
                        }
                    }
                }
            }

            .my-img {
                justify-content: flex-start !important;
            }
        }

        .services {
            margin-top: 12rem;

            >.title {
                .black-title {
                    font-size: 3.125rem;
                }
            }

            .values {
                padding-left: 1rem;
            }
        }

        .testimonials {}

        .education {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .about-me {
            .collection-img {
                place-content: flex-start;
            }
        }
    }

    footer {
        .contact {
            .title {
                height: 31%;
            }

            .address {
                height: 25%;
            }

            .social {
                height: 50%;
            }
        }
    }
}

@media (#{$surface-pro-7}) {
    main {
        .projects {
            .projects-links {
                .pro-panel {
                    .details {
                        .to-pro {
                            width: 40%;
                        }
                    }
                }
            }
        }

        .testimonials {
            .feedbacks {
                .img {
                    width: 74.1%
                }
            }
        }

        .education {
            .title {
                margin-bottom: 3rem;
            }
        }

        .about-me {
            padding-left: 3rem;
            padding-right: 7rem;

            >.head {
                .black-title {
                    letter-spacing: 1px;
                    line-height: 110%;
                }

                >.desc {
                    font-size: 1.375rem;
                    line-height: 40px;
                }
            }
        }
    }
}

@media (#{$ipad-mini-flipped}) {
    header {
        margin-bottom: 5rem !important;
        margin-top: 2.4rem !important;

        .navigation {
            .row {
                padding-left: 4.75rem;
                padding-right: 6.75rem;
            }

            .desktop-nav {
                a {
                    color: $title_color;
                    text-decoration: none;
                    font-weight: 600;
                    line-height: 28px;
                    vertical-align: top;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;

                    &:not(.call):hover {
                        color: $secondary_text_color;
                    }
                }

                .call {
                    width: 34%;

                    span {
                        margin-right: .5rem;
                    }

                    .arrow-black {
                        transition-property: transform;
                        transition-duration: .3s;
                        -webkit-transform-style: preserve-3d;
                        -moz-transform-style: preserve-3d;
                        -ms-transform-style: preserve-3d;
                        -o-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        margin-bottom: .15rem;
                    }

                    &:hover {
                        img {
                            //left: 10%;
                            -webkit-transform: translateX(200%);
                            -moz-transform: translateX(200%);
                            -ms-transform: translateX(200%);
                            -o-transform: translateX(200%);
                            transform: translateX(200%);
                        }
                    }
                }
            }
        }
    }

    main {
        margin-top: 5rem;

        >.head {
            margin-left: 0;
            padding-left: 4.75rem;
            padding-left: 0;
            display: grid;
            grid-template-columns: 68% 26%;
            grid-template-rows: 1fr auto auto;
            grid-template-areas:
                'head-title my-img'
                'p .'
                'btns .';

            .head-title {
                grid-area: head-title;

                .title {

                    .black-title,
                    .gradient-title {
                        font-size: 4.6875rem;
                    }
                }
            }

            .p {
                grid-area: p;
                width: 84%;
            }

            .btns {
                grid-area: btns;
                height: auto;

                .col-sm-8 {
                    width: 26%;
                    margin-right: 1rem;
                }

                .cv-form {
                    max-height: none;
                    margin: 1.5rem -1rem 1rem;

                    .cv {
                        width: 88%;

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .my-img {
                grid-area: my-img;
                width: 100%;
                margin-top: 0;

                >.col-sm-12 {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;

                    .myimg {
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 40% 60%;
            grid-template-areas:
                'title title title'
                'benefits skills expectations';

            >.title {
                grid-area: title;
                flex-direction: column !important;

                .gradient-title {
                    font-size: 1.375rem;
                    line-height: 100%;
                    letter-spacing: 4px;
                }

                .black-title {
                    font-size: 3.375rem;
                    line-height: 110%;
                    letter-spacing: 1px;
                    padding-left: 4rem;
                    padding-right: 4rem;
                }
            }

            .values {
                height: 100%;
                width: 100%;
                padding-left: 3.25rem;
                padding-right: 0;
                margin-right: 0;
                margin-left: 0;

                .titles {
                    h2 {
                        font-size: 1.5rem;
                        line-height: 110%;
                    }
                }

                .p {
                    p {
                        line-height: 28px;
                    }
                }
            }

            .benefits {
                grid-area: benefits;
            }

            .skills {
                grid-area: skills;
            }

            .expectations {
                grid-area: expectations;
            }

        }

        .projects-head {
            >.title {
                font-size: 3.375rem;
            }

        }

        .projects {
            .projects-links {
                .pro-panel {
                    .details {

                        .to-pro {
                            .arrow {
                                width: 14px;
                            }
                        }
                    }

                }
            }
        }

        .testimonials {
            >.title {
                margin-bottom: 5rem;

                .white-title {
                    font-size: 3.375rem;
                }
            }

            .feedbacks {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 90% 10%;
                grid-template-areas:
                    'img blockquote'
                    'img name-indicator';

                .img {
                    grid-area: img;
                    width: 79.51%
                }

                blockquote {
                    grid-area: blockquote;
                    font-size: 1.4rem;
                    margin: -4rem 0 0;
                    line-height: 150%;

                    .quote {
                        margin: 0 0 1.25rem;
                    }
                }

                .name-indicators {
                    grid-area: name-indicator;
                    align-items: flex-end;
                    padding-left: 0;

                    .name {
                        h5 {
                            font-size: 1.65rem;
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 1.4rem;
                            margin-bottom: 0;
                        }
                    }

                    .indicators {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .education {
            margin-top: 14rem;

            .row:first-child {
                padding-left: 3.625rem;
            }

            .title {
                h1 {
                    font-size: 2.35rem;
                }
            }

            .certificates {
                .edu {
                    grid-template-columns: 11% 53.8% 30% 4.2%;

                    h3 {
                        font-size: 2.25rem;
                    }
                }
            }
        }

        .about-me {
            grid-template-rows: 294px 1fr;
            grid-template-columns: 90%;
            padding-left: 4rem;
            padding-right: 4rem;
            margin-top: 14rem;
            row-gap: 9vw;

            >.head {
                display: grid;
                grid-template-columns: 47% 53%;
                grid-template-rows: auto 0.95fr;
                grid-template-areas:
                    'gradient-title desc'
                    'black-title desc';
                column-gap: 5vw;

                .gradient-title {
                    grid-area: gradient-title;
                }

                .black-title {
                    grid-area: black-title;
                }

                .desc {
                    grid-area: desc;
                }
            }

            .collection-img {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                grid-template-areas:
                    'foot_img head_img mid_img';
                margin-top: 0;
                --gap: 0.6vw;
                column-gap: var(--gap);

                >.col-md-10 {
                    width: 100%;
                }

                .mid-img {
                    grid-template-columns: 100%;
                    grid-template-rows:
                        calc(50%) calc(50%);
                    grid-template-areas:
                        'onlab'
                        'deal';
                    column-gap: normal;
                    row-gap: normal;

                    .mid {
                        width: 100%;
                        height: calc(100% - var(--gap) / 2);
                    }

                    .deal {
                        align-self: flex-end;
                    }

                    .onlab {
                        align-self: flex-start;
                    }
                }
            }
        }
    }

    footer {
        .contact {
            .social {
                .button {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (#{$galaxy-tab-s4-flipped}) {
    main {

        .testimonials {
            .title {
                margin-bottom: 4rem;
            }

            .feedbacks {

                blockquote {
                    font-size: 1.7rem;
                }
            }
        }

        .education {
            .certificates {
                .edu {

                    p,
                    span {
                        font-size: 1.2rem;
                    }

                    h5 {
                        font-size: 1.388rem;
                        margin-bottom: 1.2rem;
                    }

                    .ul {
                        li {
                            margin-bottom: 3rem;
                        }

                        .desc {
                            p {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (#{$surface-pro-7-flipped}) {
    main {
        >.head {
            padding-left: 5rem;
            grid-template-columns: 65% 35%;

            .my-img {
                >.col-sm-12 {
                    .myimg {
                        img {
                            width: 60%;
                        }
                    }
                }
            }
        }

        .testimonials {
            .feedbacks {
                blockquote {
                    font-size: 1.7rem;
                }

                .name-indicators {
                    .name {
                        h5 {
                            font-size: 2.645rem;
                        }

                        p {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }

        .education {
            .certificates {
                .edu {
                    h3 {
                        font-size: 2.35rem;
                    }
                }
            }
        }

        .about-me {
            .collection-img {
                .head-img {
                    .work-home {
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .mid-img {
                    .mid {
                        object-fit: cover;
                        object-position: center;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    footer {
        .contact {
            .rights {
                width: 47%;
            }
        }
    }
}

@media (#{$nexus-10-flipped}) {
    main {
        .testimonials {
            .feedbacks {

                blockquote {
                    font-size: 1.7rem;
                }

                .name-indicators {
                    .name {
                        h5 {
                            font-size: 2.345rem;
                        }

                        p {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        .education {
            .certificates {
                .edu {

                    p,
                    span {
                        font-size: 1.4rem;
                    }

                    h5 {
                        font-size: 1.65rem;
                    }
                }
            }
        }
    }
}

@media (#{$nest-hub-max}) {
    main {
        .projects-head {
            padding-left: 3rem;
        }

        .projects {
            .projects-links {
                .pro-panel {

                    .details {
                        .to-pro {
                            width: 41%;
                        }
                    }
                }
            }
        }
    }
}