/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 20 version
*/

@media ((min-width: 991px) and (min-height: 768px)) {
  main .projects-head .btns {
    height: auto;
  }

  main .projects .projects-links {
    margin-bottom: 2rem;
  }
}

@media ((min-width: 768px)) {
  main .testimonials .feedbacks .img {
    width: 72.1%;
  }
}

@media ((min-width: 795px)) {
  header .navigation .mobile-nav .anchors {
    padding-left: 3.35rem;
  }

  main .projects .indicators .img {
    margin: 3rem 1.75rem 0;
  }
}

@media ((min-width: 1024px)) {
  header .navigation {
    max-width: 100vw;
  }

  header .navigation .row {
    padding-right: 3.75rem;
  }

  header .navigation .desktop-nav {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  header .navigation .desktop-nav a {
    font-weight: 600;
  }

  header .navigation .desktop-nav .call {
    font-weight: 700;
  }

  main>.head {
    padding-left: 4.75rem;
  }

  main>.head .head-title .title .black-title {
    font-size: 4.6875rem;
    word-wrap: break-word;
    word-break: break-word;
  }

  main>.head .row:first-child {
    margin-bottom: 1rem;
  }

  main>.head .row:first-child .col-sm-12 {
    height: auto;
  }

  main>.head .p .head-p {
    width: 100%;
  }

  main>.head .btns .col-12 {
    width: 31%;
  }

  main>.head .btns .cv-form {
    width: 55.5%;
  }

  main>.head .my-img .myimg {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
  }

  main>.head .my-img .myimg img {
    width: 230px !important;
    height: 257.233px;
    aspect-ratio: 76/85;
  }

  .click {
    border: 2px dashed transparent !important;
  }

  .clicked {
    border-color: #ff5e69 !important;
  }
}

@media ((min-width: 1366px)) {
  main>.head .my-img .myimg {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

@media ((min-width: 1440px)) {
  header .navigation .row {
    padding: 0 11rem;
  }

  header .navigation .row .logo {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  header .navigation .row .logo img {
    width: 241px;
  }

  header .navigation .desktop-nav a {
    font-size: 1.3rem;
  }

  main {
    margin-top: 9rem;
  }

  main>.container {
    place-content: center;
  }

  main>.head {
    -ms-grid-columns: 59% 37%;
    grid-template-columns: 59% 37%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 11rem;
    padding-right: 2rem;
    grid-template-areas: "head-title my-img""p my-img""btns .";
  }

  main>.head .btns .col-11 .col-12 {
    width: 26%;
  }

  main>.head .my-img .myimg img {
    width: 265px !important;
    height: auto;
  }

  main .services {
    -ms-grid-columns: (30%)[3];
    grid-template-columns: repeat(3, 30%);
    padding: 0 6rem;
  }

  main .services>.title {
    padding: 0 4rem;
    margin-bottom: 11rem;
  }

  main .services .values {
    padding-left: 3rem;
  }

  main .services .values .img {
    margin-bottom: 3.5rem;
  }

  main .services .values .img img {
    width: 80px;
  }

  main .services .values .titles h2 {
    font-size: 1.8rem;
    width: 100%;
  }

  main .services .values .p {
    margin-bottom: 2rem;
  }

  main .services .values .p p {
    font-size: 1.1rem;
  }

  main .services .values ul li {
    font-size: 1.1rem;
  }

  main .projects-head {
    padding-left: 13rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  main .projects-head>.title {
    width: 46%;
  }

  main .projects-head .btns {
    width: 55%;
  }

  main .projects-head .btns .buttons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  main .projects {
    padding-left: 11.5rem;
  }

  main .projects .projects-links .pro-panel {
    width: 405px;
  }

  main .projects .indicators {
    padding-right: 0;
    margin-right: 0;
    margin-left: -11.5rem;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  main .projects .indicators .img {
    width: 135px;
  }

  main .testimonials>.title {
    margin-left: 11rem;
  }

  main .testimonials .feedbacks {
    margin-left: 6rem;
  }

  main .testimonials .feedbacks .img {
    width: 67%;
  }

  main .testimonials .feedbacks blockquote {
    font-size: 1.55rem;
    margin: 0;
    padding-right: 4rem;
  }

  main .testimonials .feedbacks blockquote .quote {
    width: 4%;
  }

  main .testimonials .feedbacks .name-indicators .name h5 {
    font-size: 1.745rem;
  }

  main .testimonials .feedbacks .name-indicators .name p {
    font-size: 1.2rem;
  }

  main .testimonials .feedbacks .name-indicators .indicators {
    width: 135px;
  }

  main .education {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px !important;
  }

  main .education .row:first-child {
    margin-bottom: 4.5rem;
  }

  main .education .title h1 {
    font-size: 3.35rem;
  }

  main .education .certificates .edu {
    -ms-grid-columns: 9% 53.8% 30% 3.2%;
    grid-template-columns: 9% 53.8% 30% 3.2%;
    margin-bottom: 5rem;
    width: 77%;
  }

  main .about-me {
    -ms-grid-columns: 0.9fr;
    grid-template-columns: 0.9fr;
    row-gap: 2vw;
  }

  main .about-me>.head .gradient-title {
    font-size: 1.475rem;
  }

  main .about-me>.head .black-title {
    font-size: 3.475rem;
  }

  main .about-me>.head .desc {
    font-size: 1.8rem;
    line-height: 145%;
  }

  main .about-me .collection-img {
    --gap: 1vw;
  }

  footer .contact .social .button a {
    font-size: 2rem;
  }
}

@media ((min-width: 1600px)) {
  main .btns .col-11 .col-12 {
    width: 22%;
  }
}

@media ((min-width: 1920px)) {
  header .navigation .row {
    padding: 0 25rem;
  }

  header .navigation .row .logo {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  header .navigation .row .logo img {
    width: 272px;
  }

  header .navigation .desktop-nav a {
    font-size: 1.4rem;
  }

  main {
    margin-top: 9rem;
  }

  main>.container {
    place-content: center;
  }

  main>.head {
    -ms-grid-columns: 53% 47%;
    grid-template-columns: 53% 47%;
    padding-left: 25rem;
    padding-right: 11rem;
    grid-template-areas: "head-title my-img""p my-img""btns .";
  }

  main>.head .btns .col-11 .col-12 {
    width: 28%;
  }

  main .services {
    margin-bottom: 12rem;
    -ms-grid-columns: (30%)[3];
    grid-template-columns: repeat(3, 30%);
    padding: 0 6rem;
  }

  main .services>.title {
    padding: 0 28rem;
    margin-bottom: 11rem;
  }

  main .services .values {
    padding-left: 10rem;
  }

  main .services .values .img {
    margin-bottom: 3.5rem;
  }

  main .services .values .titles h2 {
    width: 100%;
  }

  main .services .values .p {
    margin-bottom: 2rem;
  }

  main .projects-head {
    padding-left: 24rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  main .projects-head>.title {
    width: 37%;
  }

  main .projects-head .btns .buttons {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  main .projects {
    padding-left: 22rem;
  }

  main .projects .projects-links .pro-panel {
    width: 486px;
  }

  main .projects .indicators {
    padding-right: 0;
    margin-left: -22rem;
  }

  main .projects .indicators .img {
    width: 135px;
  }

  main .testimonials>.title {
    margin-left: 22rem;
  }

  main .testimonials .feedbacks {
    margin-left: 16rem;
  }

  main .testimonials .feedbacks .img {
    width: 74%;
  }

  main .testimonials .feedbacks blockquote {
    font-size: 1.95rem;
    margin: 0;
    padding-right: 5rem;
  }

  main .testimonials .feedbacks blockquote .quote {
    width: 4%;
  }

  main .testimonials .feedbacks .name-indicators {
    padding-right: 1.5rem;
  }

  main .testimonials .feedbacks .name-indicators .indicators {
    width: 135px;
  }

  main .education {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px !important;
  }

  main .education .row:first-child {
    margin-bottom: 4.5rem;
  }

  main .education .title h1 {
    font-size: 3.35rem;
  }

  main .education .certificates .edu {
    -ms-grid-columns: 9% 53.8% 30% 3.2%;
    grid-template-columns: 9% 53.8% 30% 3.2%;
    margin-bottom: 5rem;
    width: 80.5%;
  }

  main .education .certificates .edu .duration {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  main .about-me {
    -ms-grid-columns: 0.7fr;
    grid-template-columns: 0.7fr;
    row-gap: 1vh;
  }

  main .about-me>.head .gradient-title {
    font-size: 1.475rem;
  }

  main .about-me>.head .black-title {
    font-size: 3.475rem;
  }

  main .about-me>.head .desc {
    font-size: 1.8rem;
    line-height: 145%;
  }
}

@media ((min-width: 2560px)) {
  header .navigation .row {
    padding: 0 25rem;
  }

  header .navigation .row .logo {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  header .navigation .row .logo img {
    width: 272px;
  }

  header .navigation .desktop-nav a {
    font-size: 1.4rem;
  }

  main {
    margin-top: 9rem;
  }

  main>.container {
    place-content: center;
  }

  main>.head {
    -ms-grid-columns: 41% 59%;
    grid-template-columns: 41% 59%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 25rem;
    padding-right: 11rem;
    grid-template-areas: "head-title my-img""p my-img""btns .";
  }

  main>.head .btns .col-11 .col-12 {
    width: 26%;
  }

  main>.head .my-img .myimg {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  main>.head .my-img .myimg img {
    width: 350px !important;
    height: auto;
  }

  main .services {
    -ms-grid-columns: (30%)[3];
    grid-template-columns: repeat(3, 30%);
    padding: 0 6rem;
  }

  main .services>.title {
    padding: 0 28rem;
    margin-bottom: 11rem;
  }

  main .services .values {
    padding-left: 10rem;
  }

  main .services .values .img {
    margin-bottom: 3.5rem;
  }

  main .services .values .img img {
    width: 90px;
  }

  main .services .values .titles h2 {
    font-size: 2rem;
    width: 100%;
  }

  main .services .values .p {
    margin-bottom: 2rem;
  }

  main .services .values .p p {
    font-size: 1.2rem;
  }

  main .services .values ul li {
    font-size: 1.2rem;
  }

  main .projects-head {
    padding-left: 24rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  main .projects-head>.title {
    width: 27%;
  }

  main .projects-head .btns {
    width: 55%;
  }

  main .projects-head .btns .buttons {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  main .projects {
    padding-left: 22rem;
  }

  main .projects .projects-links .pro-panel {
    width: 486px;
  }

  main .projects .indicators {
    padding-right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  main .projects .indicators .img {
    width: 135px;
  }

  main .testimonials>.title {
    margin-left: 22rem;
  }

  main .testimonials .feedbacks {
    margin-left: 16rem;
  }

  main .testimonials .feedbacks .img {
    width: 74%;
  }

  main .testimonials .feedbacks blockquote {
    font-size: 2.45rem;
    margin: 0;
    padding-right: 19rem;
  }

  main .testimonials .feedbacks blockquote .quote {
    width: 4%;
  }

  main .testimonials .feedbacks .name-indicators {
    padding-right: 13.5rem;
  }

  main .testimonials .feedbacks .name-indicators .indicators {
    width: 135px;
  }

  main .education {
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px !important;
  }

  main .education .row:first-child {
    margin-bottom: 4.5rem;
  }

  main .education .title h1 {
    font-size: 3.35rem;
  }

  main .education .certificates .edu {
    -ms-grid-columns: 9% 53.8% 30% 3.2%;
    grid-template-columns: 9% 53.8% 30% 3.2%;
    margin-bottom: 5rem;
    width: 94.5%;
  }

  main .about-me {
    -ms-grid-columns: 0.7fr;
    grid-template-columns: 0.7fr;
    row-gap: 0;
  }

  main .about-me>.head .gradient-title {
    font-size: 1.475rem;
  }

  main .about-me>.head .black-title {
    font-size: 3.475rem;
  }

  main .about-me>.head .desc {
    font-size: 1.8rem;
    line-height: 145%;
  }

  footer .contact .social .button a {
    font-size: 2rem;
  }
}
